<h3>Pandas</h3>

In [1]:
import pandas as pd
csv_path = 'Chocolate Sales.csv'
# use read.csv function to read the file
df = pd.read_csv(csv_path) #for xlsx file replace read_csv with read_excel
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184

In [4]:
df.describe()

       Boxes Shipped
count    1094.000000
mean      161.797989
std       121.544145
min         1.000000
25%        70.000000
50%       135.000000
75%       228.750000
max       709.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB

In [35]:
#iloc method: way to access unique elements
print(df.iloc[0,0])    #first 0 represents rows and the second 0 indicates columns
print(df.iloc[1,0])
print(df.iloc[0,1])

#can specify column name like using 'loc[]' function
print(df.loc[3,'Country'])


z = df.iloc[0:2,4:6]
print(z)

y = df.loc[0:2,'Amount':'Boxes Shipped']
print(y)

Jehu Rudeforth
Van Tuxwell
UK
Australia
    Amount  Boxes Shipped
0  $5,320             180
1  $7,896              94
    Amount  Boxes Shipped
0  $5,320             180
1  $7,896              94
2  $4,501              91

In [31]:
#setting sales person as an index to use in loc function
df5=df
df5 =df5.set_index("Sales Person")
print(df5.loc['Van Tuxwell','Product'])

Sales Person
Van Tuxwell           85% Dark Bars
Van Tuxwell      Smooth Sliky Salty
Van Tuxwell     Organic Choco Syrup
Van Tuxwell           85% Dark Bars
Van Tuxwell          50% Dark Bites
Van Tuxwell     Organic Choco Syrup
Van Tuxwell     Organic Choco Syrup
Van Tuxwell         99% Dark & Pure
Van Tuxwell             After Nines
Van Tuxwell               Milk Bars
Van Tuxwell     Organic Choco Syrup
Van Tuxwell     Baker's Choco Chips
Van Tuxwell         99% Dark & Pure
Van Tuxwell            Almond Choco
Van Tuxwell      Smooth Sliky Salty
Van Tuxwell         Raspberry Choco
Van Tuxwell               Milk Bars
Van Tuxwell              White Choc
Van Tuxwell    Caramel Stuffed Bars
Van Tuxwell           Drinking Coco
Van Tuxwell    Caramel Stuffed Bars
Van Tuxwell      Manuka Honey Choco
Van Tuxwell           85% Dark Bars
Van Tuxwell     Spicy Special Slims
Van Tuxwell         Mint Chip Choco
Van Tuxwell          50% Dark Bites
Van Tuxwell      Manuka Honey Choco
Van Tuxwell    Choco Coated Almonds
Van Tuxwell            Almond Choco
Van Tuxwell        Fruit & Nut Bars
Van Tuxwell        Fruit & Nut Bars
Van Tuxwell         Raspberry Choco
Van Tuxwell              White Choc
Van Tuxwell         99% Dark & Pure
Van Tuxwell     Peanut Butter Cubes
Van Tuxwell     Baker's Choco Chips
Van Tuxwell          50% Dark Bites
Van Tuxwell          50% Dark Bites
Van Tuxwell    Choco Coated Almonds
Van Tuxwell                 Eclairs
Van Tuxwell                 Eclairs
Van Tuxwell     Baker's Choco Chips
Van Tuxwell     Baker's Choco Chips
Van Tuxwell          70% Dark Bites
Van Tuxwell          50% Dark Bites
Van Tuxwell             After Nines
Van Tuxwell            Almond Choco
Van Tuxwell           Drinking Coco
Van Tuxwell          70% Dark Bites
Van Tuxwell                 Eclairs
Van Tuxwell         Mint Chip Choco
Name: Product, dtype: object

In [76]:
#Making dataframe out of a dictionary
poems = {'Title':['Maan ka jhwab', 'lab pe ati hai dua','barsaat ka mosam'],
         'Released':[1934, 1937, 1976]}   # keys correspond to table headers.
                                         #values are lists corresponding to the rows
poem_Frames = pd.DataFrame(poems)
x = poem_Frames[['Released']]
print(x)
y = poem_Frames[['Title','Released']]
print(y)

#loc can also be used if index is not integer
pf_new = poem_Frames
pf_new.index = ['a','b','c']
print(pf_new.loc['a','Title'])

   Released
0      1934
1      1937
2      1976
                Title  Released
0       Maan ka jhwab      1934
1  lab pe ati hai dua      1937
2    barsaat ka mosam      1976
Maan ka jhwab

<h3>Pandas: Working with and Saving data</h3>

In [86]:
#findng unique values in dataframe
df['Country'].unique()

array(['UK', 'India', 'Australia', 'New Zealand', 'USA', 'Canada'],
      dtype=object)

In [94]:
# showing values from chocolate sales with boxes shipped>100
# df['Boxes Shipped']>100  will give true/false in output

df1=df[df['Boxes Shipped']>100]
print(df1)

          Sales Person    Country              Product       Date    Amount  \
0       Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
3         Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4       Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685
6           Oby Sorrel         UK      99% Dark & Pure  25-Jan-22  $13,685
9          Brien Boise  Australia      99% Dark & Pure  04-Jul-22   $2,835
...                ...        ...                  ...        ...       ...
1089  Karlen McCaffrey  Australia  Spicy Special Slims  17-May-22   $4,410
1090    Jehu Rudeforth        USA           White Choc  07-Jun-22   $6,559
1091      Ches Bonnell     Canada  Organic Choco Syrup  26-Jul-22     $574
1092    Dotty Strutley      India              Eclairs  28-Jul-22   $2,086
1093  Karlen McCaffrey      India       70% Dark Bites  23-May-22   $5,075

      Boxes Shipped
0               180
3               342
4               184
6               176
9               102
...             ...
1089            323
1090            119
1091            217
1092            384
1093            344

[685 rows x 6 columns]

In [96]:
#Save the new dataFrame as CSV
df1.to_csv('High chocolate shipping.csv')

In [100]:
df['Sales Person']   #to access single column

0         Jehu Rudeforth
1            Van Tuxwell
2           Gigi Bohling
3           Jan Morforth
4         Jehu Rudeforth
              ...
1089    Karlen McCaffrey
1090      Jehu Rudeforth
1091        Ches Bonnell
1092      Dotty Strutley
1093    Karlen McCaffrey
Name: Sales Person, Length: 1094, dtype: object

In [13]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

KeyError: 'GDP (Million USD)'